.input-fields {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.input-fields input {
  font-size: 2rem;
}
.spinner {
  margin-top: 20px;
  width: 100px;
  height: 50px;
  color: orange;
  animation: loadSpinner 1.3s linear infinite;
}
@keyframes loadSpinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input-fields textarea {
  font-size: 1.3rem;
  width: 100%;
}
.input-fields img {
  width: 300px;
  border: 2px black solid;
}
.input-fields input:focus,
.input-fields textarea:focus {
  outline: none;
  border: none;
  border: 2px rgb(255, 196, 0) solid;
}
.input-fields h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.btn-div {
  margin-top: 10px;
}

.input-fields select {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .btn-div {
    width: 100%;
  }
  .btn-div .btn {
    width: 100%;
    height: 50px;
  }
}

