.policy h1 {
  margin-bottom: 20px;
}
.policy h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.policy h5 {
  font-size: 1rem;
  margin-left: 20px;
}
.policy h6 {
  font-size: 0.9rem;
  color: orange;
  margin-left: 30px;
}
