.tyre-info {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 0px;
}
.orderius {
  grid-column: 1/3;
}

.tyre-images {
  border-radius: 10px 0 0px 10px;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
  align-content: flex-start;
  grid-gap: 10px;
  background: rgba(255, 255, 255, 0.774);
}
.tyre-specs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0;
}
.producent-image {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.producent-image img {
}
. .desc {
  width: 60%;
  margin: 20px 40px 30px 20px;
  color: black;
}
.desc p {
  font-size: 1.1rem;
}
.tyre-specs .tyre-parameter {
  width: 55%;
  margin: 0 0px 30px 0;
  height: 70px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  border: 1px solid black;
}
.tyre-parameter p {
  font-size: 1.6rem;
  text-transform: capitalize;
}
.tyre-parameter h1 {
  grid-column: 1/3;
  border-bottom: 2px solid orange;
}
.tyre-parameter h3 {
  color: rgb(20, 20, 20);
  font-size: 1.3rem;
  border-bottom: 1px solid orange;
}
.lupka {
  color: rgba(168, 166, 162, 0.411);
  width: 200px;
  height: 200px;
  margin-left: 0;
  transform: translateY(-40%);
}

.tyre-small-images {
  grid-column: 1;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.tyre-main-image {
  position: relative;

  margin: 0;
}
.buttons-info {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  width: 90%;
  grid-gap: 10px;
  margin-bottom: 10px;
}
.buttons-info .btn {
  font-size: 1.5rem;
  width: 100%;
  border-radius: 5px;
}
.edit {
  width: 100%;
  padding: 40px;
  text-align: center;
}
.tyre-main-image img {
  box-sizing: border-box;
  width: 100%;
  height: 40vh;
  border: 1px solid rgb(170, 170, 170);
}

.tyre-main-image:hover {
  cursor: pointer;
}
.lupa {
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: -21vh;
  left: 0;
}
.tyre-small-images img {
  width: 90%;
  height: 170px;
  filter: brightness(90%);
  border-radius: 5px;
  border: 1px solid rgb(170, 170, 170);
}
.tyre-small-images img:hover {
  cursor: pointer;
  filter: brightness(100%);
}
@media (max-width: 768px) {
  .tyre-info {
    grid-template-columns: 1fr;
  }
  .tyre-images {
    border-radius: 0;
  }
  .tyre-specs {
    border-radius: 0;
    border: none;
  }
  .tyre-specs h3,
  .tyre-specs h4 {
    width: 100%;
  }
  .lupa {
    margin-top: -25vh;
  }
  .lupka {
    transform: translateY(-30%);
  }
  .tyre-specs .tyre-parameter {
    width: 100%;
    width: 100%;
    margin: 20px 0 20px 0;
  }
  .desc {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .tyre-parameter h1 {
    grid-column: 1/3;
    border-bottom: 0px solid orange;
  }
  .tyre-parameter h3 {
    color: rgb(20, 20, 20);
    font-size: 1.1rem;
    border-bottom: 0px solid orange;
  }
}
@media (max-width: 350px) {
  .tyre-small-images {
    grid-column: 1;
    display: grid;

    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .lupa {
    margin-top: -35vh;
    transform: translateY(10vh);
  }
  .lupka {
    transform: translateY(-30%);
  }
  .tyre-specs .tyre-parameter {
    width: 100%;
  }
  .desc {
    width: 100%;
  }
}
