.container {
  background: rgb(255, 255, 255);
  width: 90%;
  margin: auto;
  max-width: 1400px;
  min-height: 1000px;
}
.btn-div {
  margin-bottom: 20px;
}
.polityka {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.polityka a {
  text-align: center;
  font-size: 1rem;
  color: rgb(251, 247, 7);
}
.polityka h1 {
  font-size: 1.2rem;
  padding: 40px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
